@import "../../../styles.scss";

app-sensor,
app-relay,
.app-vorlauf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monitor-board{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.monitor-unit
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.control-unit {
  border: 1px solid grey;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem;
  // box-shadow: 0.1rem 0.1rem grey;
  color: black;
}

.config-wrapper{
  // max-width: 20%;
  background-color: white;
  justify-content: center;
  margin:1rem;
}
.config-wraper > mat-form-field >input{
  width:min-content;
  background-color: red;
}

#statsGraph{
  display: flex;
  justify-content: center;
  // width: 100%;
  // padding: 2rem;
  min-height: 10%;
  background-color: mat-color($accent,50);
}

#dateRangeWrapper{
  padding: 2rem;
  padding-left: 3rem;
  padding-bottom: 0;
}

#TimeControlForm{
  border:1px solid gray;
  padding: 1rem;
  border-radius: 1rem;
}

#TimeControlForm > mat-form-field{
  margin: 0.5rem;
  display: block;
}

#TimeControlForm > button{
  width: 100%;
  // background-color: mat-color($primary);
}

#editTimeControlIcon{
  float: right;
  box-shadow: 3px solid gray;
  border-radius: 10rem;
  z-index: 2;
}

#chartWrapper{
  width: 100%;
  height: 20rem;
  margin-bottom: 10rem;
  background-color: mat-color($accent,50);
}


