<div id="chartWrapper">
  <mat-chip-list selectable=true >
    <mat-chip (change)="statsDateRangeClicked(dateParam)"  *ngFor="let dateParam of this.dateRangeOptions" [value]="dateParam">{{dateParam}}</mat-chip>
  </mat-chip-list>
  <mat-form-field id="dateRangePickerFormField">
    <mat-date-range-input
      [formGroup]="this.dateRange"
      [rangePicker]="statsRangePicker"
    >
      <input
        matStartDate
        formControlName="start"
        (dateChange)="statsDateRangeChanged($event)"
      />
      <input
        matEndDate
        formControlName="end"
        (dateChange)="statsDateRangeChanged($event)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="statsRangePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #statsRangePicker> </mat-date-range-picker>
  </mat-form-field>
   <ngx-charts-line-chart
    id="statsGraph"
    *ngIf="view_sensor_stats"
    [results]="this.view_sensor_stats"
    [autoScale]="true"
    [xAxis]="true"
    [legend]="true"
    [legendPosition]="'right'"
    [timeline]="true"
    [showGridLines]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisTickFormatting]="this.dateTickFormatting"
    [yAxis]="true"
    [activeEntries]="this.view_sensor_stats"
    xAxisLabel="Zeit"
    yAxisLabel="Temperatur"
  ></ngx-charts-line-chart>
  <div *ngIf="!this.view_sensor_stats">
    <h4><p>Graph wird geladen...</p></h4>
  </div>
</div>
<div class="config-wrapper">
  <button
    id="editTimeControlIcon"
    mat-button
    (click)="this.switchConfigEditing()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <form
    aria-disabled="true"
    [formGroup]="heatingConfigFormGroup"
    (ngSubmit)="submitHeatingConfigChanges()"
    method="post"
    id="TimeControlForm"
  >
    <mat-form-field>
      <mat-label>Regelintervall</mat-label>
      <input
        matNativeControl
        matInput
        type="number"
        formControlName="REGULATION_INTERVALL_SECONDS"
      />
      <span matSuffix>Sekunde(n)</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Regeldauer</mat-label>
      <input
        matInput
        type="number"
        formControlName="REGULATION_DURATION_SECONDS"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Temperaturtoleranz</mat-label>
      <input
        matInput
        type="number"
        formControlName="REGULATION_TEMPERATURE_TOLERANCE"
      />
    </mat-form-field>
    <button color="primary" [disabled]="this.heatingConfigFormGroup.disabled" mat-raised-button type="submit">Speichern</button>
    <mat-error *ngIf="this.heatingConfigForm_httpError">{{
      this.heatingConfigForm_httpError.message
    }}</mat-error>
  </form>
</div>
<div class="monitor-board">
  <div class="monitor-unit">
    <div *ngFor="let currSensor of sensors">
      <app-sensor class="control-unit" [sensor]="currSensor"></app-sensor>
    </div>
    <div
      *ngFor="let currSensor of sensors | filter: 'Vorlauf'"
      class="control-unit app-vorlauf"
      [ngClass]="
        this.currSensor.temperature < this.currSensor.idealTemperature
          ? 'background-warm'
          : 'background-cold'
      "
    >
      <h1>Sollwert Vorlauf</h1>
      <h1>{{ currSensor.idealTemperature | number: ".1-1" }} °C</h1>
    </div>
    <div *ngFor="let currRelay of relays; index as i">
      <app-relay
        [ngClass]="
          this.currRelay.name.includes('Heizung +')
            ? 'background-warm'
            : 'background-cold'
        "
        class="control-unit"
        [relay]="currRelay"
      ></app-relay>
    </div>
  </div>
</div>
